<div class="shadow-card p-4">
    <h1 class="fw-bold">Tabla de Datos</h1>
    <hr class="border border-dark opacity-50" />
  
    <table class="table mt-3">
      <thead>
        <tr>
        
          
          <th scope="col">descripcionCharla</th>
          <th scope="col">fechaCharla</th>
          <th scope="col">turno</th>
          <th scope="col">fechaSolicitudCharla</th>
          <th scope="col">observacionesCharla</th>
          <th scope="col">estadoCharla</th>
          <th scope="col">provincia</th>
          <th scope="col">modalidad</th>
          <th scope="col">empresa</th>
          <th scope="col">direccionEmpresa</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charla of charlas">
          
          <td>{{charla.descripcionCharla}}</td>
          <td>{{charla.fechaCharla}}</td>
          <td>{{charla.turno}}</td>
          <td>{{charla.fechaSolicitudCharla}}</td>
          <td>{{charla.observacionesCharla}}</td>
          <td>{{charla.estadoCharla}}</td>
          <td>{{charla.provincia}}</td>
          <td>{{charla.modalidad}}</td>
          <td>{{charla.empresa}}</td>
          <td>{{charla.direccionEmpresa}}</td>
        </tr>
        <!-- Puedes agregar más filas según tus necesidades -->
      </tbody>
    </table>
  </div>
  