<div class="shadow-card p-4 mb-3">
  <h1 class="fw-bold">Información de Charlas Disponibles</h1>
  <hr class="border border-dark opacity-50" />

  <div class="table-responsive">
    <table class="table mt-3">
      <thead class="border-dark">
        <tr>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha</th>
          <th scope="col">Turno</th>
          <th scope="col">Provincia</th>
          <th scope="col">Modalidad</th>
          <th scope="col">Empresa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charla of charlas">
          <td>{{ charla.descripcionCharla }}</td>
          <td>{{ charla.fechaCharla | date : "medium" }}</td>
          <td>{{ charla.turno }}</td>
          <td>{{ charla.provincia }}</td>
          <td>{{ charla.modalidad }}</td>
          <td>{{ charla.empresa }}</td>
          <td>
            <a
              class="btn btn-dark btn-sm me-1"
              [routerLink]="['/charlas', charla.idCharla]"
            >
              Detalles
            </a>
            <a class="btn btn-dark btn-sm">Asignarse</a>
          </td>
        </tr>
        <!-- Puedes agregar más filas según tus necesidades -->
      </tbody>
    </table>
  </div>
</div>
