<div class="shadow-card p-4 mb-3" *ngIf="charlasCargadas">
  <h1 class="fw-bold text-center">Charlas disponibles</h1>
  <p class="text-muted text-center">
    Todas las charlas sin TechRider según tus tecnologías
  </p>

  <div class="table-responsive">
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col" class="text-muted">Descripción</th>
          <th scope="col" class="text-muted">Fecha</th>
          <th scope="col" class="text-muted">Turno</th>
          <th scope="col" class="text-muted">Provincia</th>
          <th scope="col" class="text-muted">Modalidad</th>
          <th scope="col" class="text-muted">Empresa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charla of charlas">
          <td class="fw-bold">{{ charla.descripcionCharla }}</td>
          <td>{{ charla.fechaCharla | date : "medium" }}</td>
          <td>{{ charla.turno }}</td>
          <td>{{ charla.provincia }}</td>
          <td>{{ charla.modalidad }}</td>
          <td>{{ charla.empresa }}</td>
          <td class="text-center">
            <a
              class="btn btn-dark btn-sm me-1"
              [routerLink]="['/charlas', charla.idCharla]"
            >
              Detalles
            </a>
            <!-- Método asignarse, asigna Tech Rider a charla y cambia estado de charla a PROCESO (id 3) -->
            <a
              class="btn btn-dark btn-sm"
              (click)="asignarCharla(charla.idCharla)"
            >
              Asignarse
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<img
  *ngIf="!charlasCargadas"
  class="d-block mx-auto"
  src="../../../assets/images/loading.gif"
/>
