<div class="shadow-card p-4">
    <h1 class="fw-bold">Registrar Empresa </h1>
    <hr class="border border-dark opacity-50" />
    <form #registerEmpresaCentro="ngForm" (ngSubmit)="registerEmpresa()" class="row">
  
   
  
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Nombre</label>
        <input type="text" class="form-control" name="nombre" #nombre required>
      </div>
  
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Dirección</label>
        <input type="text" class="form-control" name="direccion" #direccion required>
      </div>
  
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Teléfono</label>
        <input type="text" class="form-control" name="telefono" #telefono required>
      </div>
  
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Persona de Contacto</label>
        <input type="text" class="form-control" name="personaContacto" #personaContacto required>
      </div>
  
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">CIF</label>
        <input type="text" class="form-control" name="cif" #cif required>
      </div>
  
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Provincia</label>
        <select
          class="form-select"
          name="selectprovincia"
          #selectprovincia
          *ngIf="provincias"
        >
          <option
            *ngFor="let provincia of provincias"
            [value]="provincia.idProvincia"
          >
            {{ provincia.nombreProvincia }}
          </option>
        </select>
        
      </div>
  
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Razón Social</label>
        <input type="text" class="form-control" name="razonSocial" #razonSocial>
      </div>
  
      <div class="col-12">
        <button class="btn btn-dark rounded w-100 mt-3 py-2">
          Registrar Empresa 
        </button>
      </div>
    </form>
  </div>
  