<div class="shadow-card p-4">
  <h1 class="fw-bold">Modificar contraseña</h1>
  <hr class="border border-dark opacity-50" />
  <form #modificarContrasenya="ngForm" (ngSubmit)="updatePassword()">
    <div class="mt-3">
      <label class="form-label fw-bold">Contraseña antigua</label>
      <input
        type="password"
        class="form-control"
        name="controlantigua"
        #controlantigua
      />
    </div>
    <div class="mt-3">
      <label class="form-label fw-bold">Contraseña nueva</label>
      <input
        type="password"
        class="form-control"
        name="controlnueva"
        #controlnueva
      />
    </div>
    <div class="mt-3">
      <label class="form-label fw-bold">Repetir contraseña</label>
      <input
        type="password"
        class="form-control"
        name="controlrepetir"
        #controlrepetir
      />
    </div>
    <button class="btn btn-dark w-100 mt-3">Modificar contraseña</button>
  </form>
</div>
