<div class="shadow-card p-4" *ngIf="usuario && provincias">
  <h1 class="fw-bold">Editar perfil</h1>
  <hr class="border border-dark opacity-50" />
  <form #editarUsuario="ngForm" (ngSubmit)="editarPerfil()" class="row">
    <div class="mt-3 col-6">
      <label class="form-label fw-bold">Nombre</label>
      <input
        type="text"
        class="form-control"
        [value]="usuario.nombre"
        name="controlnombre"
        #controlnombre
      />
    </div>
    <div class="mt-3 col-6">
      <label class="form-label fw-bold">Apellidos</label>
      <input
        type="text"
        class="form-control"
        [value]="usuario.apellidos"
        name="controlapellidos"
        #controlapellidos
      />
    </div>
    <div class="mt-3 col-6">
      <label class="form-label fw-bold">Email</label>
      <input
        type="text"
        class="form-control"
        [value]="usuario.email"
        name="controlemail"
        #controlemail
      />
    </div>
    <div class="mt-3 col-6">
      <label class="form-label fw-bold">Teléfono</label>
      <input
        type="text"
        class="form-control"
        [value]="usuario.telefono"
        name="controltelefono"
        #controltelefono
      />
    </div>
    <div class="mt-3 col-6">
      <label class="form-label fw-bold">LinkedIn</label>
      <input
        type="text"
        class="form-control"
        [value]="usuario.linkedIn"
        name="controllinkedin"
        #controllinkedin
      />
    </div>
    <div class="mt-3 col-6">
      <label class="form-label fw-bold">Provincia</label>
      <select class="form-select" name="selectprovincia" #selectprovincia>
        <option
          *ngFor="let provincia of provincias"
          [value]="provincia.idProvincia"
          [selected]="provincia.idProvincia == usuario.idProvincia"
        >
          {{ provincia.nombreProvincia }}
        </option>
      </select>
    </div>

    <!-- datos empresa representante -->

    <div *ngIf="usuario.idRole == 4" class="row">
      <div
        
        class="text-center fw-bold display-7 mt-4 mb-2"
      >
        Datos Empresa
      </div>
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Nombre Empresa</label>
        <input
        type="text"
        class="form-control"
        [value]="empresaCentro.nombre"
        name="controllinkedin"
        #controlnombreempresa
      />
      </div>
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Telefono</label>
        <input
        type="text"
        class="form-control"
        [value]="empresaCentro.telefono"
        name="controllinkedin"
        #controltelefonoempresa
      />
      </div>
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">CIF</label>
        <input
        type="text"
        class="form-control"
        [value]="empresaCentro.cif"
        name="controllinkedin"
        #cif
      />
      </div>
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Direccion</label>
        <input
        type="text"
        class="form-control"
        [value]="empresaCentro.direccion"
        name="controllinkedin"
        #direccion
      />
      </div>
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Persona de Contacto</label>
        <input
        type="text"
        class="form-control"
        [value]="empresaCentro.personaContacto"
        name="controllinkedin"
        #personaContacto
      />
      </div>
      <div class="mt-3 col-6">
        <label class="form-label fw-bold">Razon Social</label>
        <input
        type="text"
        class="form-control"
        [value]="empresaCentro.razonSocial"
        name="controllinkedin"
        #razonsocial
      />
      </div>
    </div>




    <!-- boton editar -->

    <div class="col-12">
      <button class="btn btn-dark w-100 mt-3 py-2">Editar perfil</button>
    </div>
  </form>
</div>
<img
  *ngIf="!usuario || !provincias"
  class="d-block mx-auto"
  src="../../../assets/images/loading.gif"
/>
