
<div class="container mt-4">
    <h1 class="text-center">Mis TechRiders</h1>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let usuario of usarios">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ usuario.techRider }}</h5>
            
            <p class="card-text">Teléfono: {{ usuario.telefonoEmpresa }}</p>
            <p class="card-text">LinkedIn: {{ usuario.linkedIn }}</p>
            <a [routerLink]="['/charlasmischarlastechridersresponsable/',usuario.idTechRider]">Ver sus Charlas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  