<div class="container mt-4" *ngIf="usuariosCargados">
  <h1 class="text-center fw-bold mb-4">Mis TechRiders</h1>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let usuario of usuarios">
      <div class="card shadow-card">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ usuario.techRider }}</h5>
          <p class="card-text">Teléfono: {{ usuario.telefonoEmpresa }}</p>
          <p class="card-text">LinkedIn: {{ usuario.linkedIn }}</p>
          <a
            class="btn btn-dark w-100"
            [routerLink]="[
              '/charlasmischarlastechridersresponsable/',
              usuario.idTechRider
            ]"
          >
            Ver sus Charlas
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<img
  *ngIf="!usuariosCargados"
  class="d-block mx-auto"
  src="../../../assets/images/loading.gif"
/>
