<nav class="navbar navbar-expand-md bg-black" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand me-4">
      <img src="/assets/images/techriders.png" height="39" width="98" />
    </span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>

        <!-- RESPONSABLE EMPRESA -->
        <div *ngIf="role == 2 && tipoEmpresaCentro && tipoEmpresaCentro == 1">
          a
        </div>

        <!-- PROFESOR -->
        <div *ngIf="role == 2 && tipoEmpresaCentro && tipoEmpresaCentro == 2">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/charlas/mis-charlas']">
              Mis charlas
            </a>
          </li>
        </div>

        <!-- DROPDOWN USUARIO -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Usuario
          </a>

          <ul class="dropdown-menu">
            <!-- NAVBAR PARA PARTE PÚBLICA -->
            <div *ngIf="!role">
              <li>
                <a class="dropdown-item" [routerLink]="['/login']">
                  Iniciar sesión
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/registrar-usuario']">
                  Registrarse
                </a>
              </li>
            </div>

            <!-- NAVBAR PARTE PRIVADA -->
            <div *ngIf="role">
              <li>
                <a class="dropdown-item" [routerLink]="['/usuario/perfil']">
                  Perfil
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/logout']">
                  Cerrar sesión
                </a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
