<nav class="navbar navbar-expand-md bg-black" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand fw-bold">Tech Riders</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- NAVBAR PARA PARTE PÚBLICA-->
      <ul class="navbar-nav" *ngIf="!role">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registrar-usuario']">
            Registrarse
          </a>
        </li>
      </ul>

      <!-- NAVBAR PARA USUARIOS -->
      <ul class="navbar-nav" *ngIf="role">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Usuario
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/perfil']">Perfil</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/logout']">
                Cerrar sesión
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
