<nav class="navbar navbar-expand-md bg-black" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand me-4">
      <img src="/assets/images/techriders.png" height="39" width="98" />
    </span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!role">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>

        <!-- RESPONSABLE EMPRESA -->
        <div *ngIf="role == 2 && tipoEmpresaCentro && tipoEmpresaCentro == 1">
          a
        </div>

        <!-- DROPDOWN CHARLAS PROFESOR -->
        <li
          class="nav-item dropdown"
          *ngIf="role == 2 && tipoEmpresaCentro && tipoEmpresaCentro == 2"
        >
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Charlas
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/charlas/mis-charlas']">
                Mis charlas
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/charlas/solicitar-charla']"
              >
                Solicitar charla
              </a>
            </li>
          </ul>
        </li>

        <!-- DROPDOWN USUARIO -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Usuario
          </a>

          <ul class="dropdown-menu">
            <!-- NAVBAR PARA PARTE PÚBLICA -->
            <div *ngIf="!role">
              <li>
                <a class="dropdown-item" [routerLink]="['/login']">
                  Iniciar sesión
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/registrar-usuario']">
                  Registrarse
                </a>
              </li>
            </div>

            <!-- NAVBAR PARTE PRIVADA -->
            <div *ngIf="role">
              <li>
                <a class="dropdown-item" [routerLink]="['/usuario/perfil']">
                  Perfil
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/logout']">
                  Cerrar sesión
                </a>
              </li>
            </div>
          </ul>
        </li>

        <li class="nav-item" *ngIf="role == 3">
          <a
            class="nav-link"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [routerLink]="['/charlastechariders']"
            *ngIf="role == 3"
          >
            Charlas
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
