<div class="container text-center">
  <button class="btn btn-dark" style="margin-right: 20px">
    <a [routerLink]="['/altausuario']" class="btn btn-dark">Alta Usuarios</a>
  </button>
  <button class="btn btn-dark" style="margin-right: 20px">
    <a [routerLink]="['/acreditarcharla']" class="btn btn-dark">
      Acreditar Charlas
    </a>
  </button>
  <button class="btn btn-dark" style="margin-right: 20px">
    <a [routerLink]="['/aniadirtecnologia']" class="btn btn-dark">
      Añadir Tecnologia
    </a>
  </button>
  <button class="btn btn-dark" style="margin-right: 20px">
    <a [routerLink]="['/altaempresa']" class="btn btn-dark">Alta Empresa</a>
  </button>
</div>
