<div class="shadow-card p-4">
  <h1 class="fw-bold">Mis Charlas</h1>
  <hr class="border border-dark opacity-50" />

  <div class="table-responsive">
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">idCharla</th>
          <th scope="col">descripcionCharla</th>
          <th scope="col">fechaCharla</th>
          <th scope="col">estadoCharla</th>
          <th scope="col">provincia</th>
          <th scope="col">nombreCurso</th>
          <th scope="col">observacionesCharla</th>
          <th scope="col">fechaSolicitudCharla</th>
          <th scope="col">modalidad</th>
          <th scope="col">email</th>
          <th scope="col">telefono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charla of charlas">
          <td>{{ charla.idCharla }}</td>
          <td>{{ charla.descripcionCharla }}</td>
          <td>{{ charla.fechaCharla }}</td>
          <td>{{ charla.estadoCharla }}</td>
          <td>{{ charla.provincia }}</td>
          <td>{{ charla.nombreCurso }}</td>
          <td>{{ charla.observacionesCharla }}</td>
          <td>{{ charla.fechaSolicitudCharla }}</td>
          <td>{{ charla.modalidad }}</td>
          <td>{{ charla.email }}</td>
          <td>{{ charla.telefono }}</td>
        </tr>
        <!-- Puedes agregar más filas según tus necesidades -->
      </tbody>
    </table>
  </div>
</div>
