<div class="card shadow-card p-4 mb-3" *ngIf="charlasCargadas">
  <h1 class="fw-bold text-center">Mis charlas</h1>
  <p class="text-muted text-center">
    Todas las charlas a las que estás asignado
  </p>

  <div class="table-responsive">
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col" class="text-muted">Descripción</th>
          <th scope="col" class="text-muted">Fecha</th>
          <th scope="col" class="text-muted">Estado</th>
          <th scope="col" class="text-muted">Provincia</th>
          <th scope="col" class="text-muted">Curso</th>
          <th scope="col" class="text-muted">Modalidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charla of charlas">
          <td class="fw-bold">{{ charla.descripcionCharla }}</td>
          <td>{{ charla.fechaCharla | date : "medium" }}</td>
          <td>{{ charla.estadoCharla }}</td>
          <td>{{ charla.provincia }}</td>
          <td>{{ charla.nombreCurso }}</td>
          <td>{{ charla.modalidad }}</td>
          <td class="text-center">
            <a
              class="btn btn-dark btn-sm me-1"
              [routerLink]="['/charlas', charla.idCharla]"
            >
              Detalles
            </a>
            <!-- Botón DESASIGNARSE para charlas estado PROCESO  -->
            <a
              *ngIf="charla.idEstadoCharla == 3"
              class="btn btn-dark btn-sm me-1"
              (click)="anularCharla(charla.idCharla)"
            >
              Desasignar
            </a>
            <!-- Botón PEDIR ACRED. para charlas estado FINALIZADA -->
            <a
              *ngIf="charla.idEstadoCharla == 5"
              class="btn btn-dark btn-sm me-1"
              (click)="acreditarCharla(charla.idCharla)"
            >
              Acreditar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<img
  *ngIf="!charlasCargadas"
  class="d-block mx-auto"
  src="../../../assets/images/loading.gif"
/>
